/*######## Table of contents ##########
#                                    #
#       1. Fonts import              #
#       2. Root                      #
#       3. HTML tags selectors       #
#       4. General selector          #
#       5. Specific selectors        #   
#       6.Media queries              #
#                                    #
######################################
 */


/*  1. Fonts import */

.catalog-wrapper {
    margin: 0;
    background-color: #141414;
    height: 100%;
    width: 100%;
}

#asdasdasdasdas {
    width: 500px;
    height: 500px;
    color: red;
}

.catalog-section {
    width: 90%;
    text-align: center;
    height: auto;
    padding: 40px 0;
    margin: auto;
}

.books-wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
}


/* 4. General selector  */

.book-content>h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--details-color);
    padding: 2%;
}

.book-content>p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}


/* 5. Specific selectors */

.book-content>a {
    margin-top: 10px;
    color: white;
    background-color: var(--details-color);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    border-bottom: solid 1px var(--details-color);
    padding: 5px 10px;
}

.book-content>a:hover {
    background-color: white;
    color: var(--details-color);
}

.catalog-title-wrapper {
    background-image: url("../../images/catalog/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    background-blend-mode: multiply;
    min-height: 351px;
}

.book-wrapper {
    overflow: hidden;
    border-radius: 10px;
    width: 250px;
    height: 400px;
}

.book {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-blend-mode: multiply;
    background-position: center;
    cursor: default;
    height: 100%;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    background-color: rgba(34, 33, 29, 1);
}

.book-content {
    visibility: hidden;
    height: 100%;
    text-align: center;
    padding: 10%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* This is to ensure that title and author text is displayed camelCase */

.book-title .book-author {
    text-transform: capitalize;
}


/* This is to make visible the content of each book of the grid when hovered*/

.book:hover .book-content {
    visibility: visible;
}

.pagination {
    text-align: center;
    margin: 5%;
    font-size: 1.5rem;
}

.pagination a {
    margin: 1%;
}

.pagination a:hover {
    background-color: var(--details-color);
    border-radius: 5px;
}


/* 6.Media queries  */

@media screen and (max-width: 880px) {
    /*For smaller resolutions had to change the background-size to fit the image inside the book element,
     if I set contain for higher resolutions the tint on hover has glitches for some images*/
    .book {
        background-size: contain;
    }
}

@media screen and (max-width: 600px) {
    #select-wrapper {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .catalog-title-wrapper {
        min-height: 420px;
    }
}

@media screen and (max-width: 280px) {
    .catalog-section {
        width: 280px;
    }
}