/*######## Table of contents ##########
#                                    #
#       1. HTML tags selectors       #
#       4. General selector          #
#       5. Specific selectors        #   
#       6.Media queries              #
#                                    #
######################################
 

/* 1. HTML tags selectors */

h1 {
    font-weight: 500;
    font-size: 2.625rem;
    margin-top: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

p {
    font-weight: 100;
    font-size: 1.25rem;
}

section {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    position: relative;
}


/* 4. General selector */

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.tint {
    background-color: rgba(34, 33, 29, 0.75);
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-vertically {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
    text-align: center;
}

.arrow-container {
    top: 30%;
    display: flex;
    justify-content: center;
    grid-area: arrow-container;
}

#section2>div.arrow-container {
    position: absolute;
    bottom: 50%;
    width: 100%;
}

#section2 .arrow-container {
    top: 80%;
}

.down-arrow {
    background-image: url('../../images/home/chevron-down.svg');
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    display: inline-block;
    align-self: flex-end;
}

.down-arrow::before {
    content: url('../../images/home/chevron-down-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

.down-arrow:hover {
    background-image: url('../../images/home/chevron-down-hover.svg');
}

#section2 {
    background-image: url("../../images/home/section2.png");
}

#section2-content {
    float: right;
    width: 40%;
    height: 100%;
    border-left-color: var(--details-color);
    border-left-style: solid;
    border-left-width: 0.125rem;
}

.section-button {
    background-color: #0707077c;
    cursor: pointer;
    font-size: 1rem;
    border: lightslategray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1vh 10vw;
}

#section2-button {
    margin-top: 10%;
}

#section2-button:hover {
    color: var(--details-color);
    border-color: var(--details-color);
    background-color: transparent;
}


/* 6.Media queries */

@media screen and (max-width: 1000px) {
    .arrow-container {
        display: none;
    }
    #section2-content {
        float: none;
        padding: 20px;
        width: initial;
    }
}

@media screen and (max-width: 350px) {
    section {
        min-height: 660px;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 2rem;
    }
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    margin-top: 2px;
    /*   Padding used to visually center the magnifying glass */
    padding-bottom: 2px;
}

.search-button-image {
    width: 30px;
    height: 30px;
    background-image: url('../../images/headerAndFooter/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.search-button-image:focus {
    border: solid 1px white;
}

.search-field input {
    position: relative;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35, 35, 35);
    border-width: 0;
    font-size: 1rem;
    width: initial;
}

.search-field input:focus {
    outline: none;
}

.search-field input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#login-wrapper>a {
    height: 32px;
    width: 32px;
    background-image: url('../../images/headerAndFooter/avatar.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: login;
    cursor: pointer;
}

#login-wrapper>a:before {
    content: url('../../images/headerAndFooter/avatar-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

#login-wrapper>a:hover {
    background-image: url('../../images/headerAndFooter/avatar-hover.svg');
}

#login-wrapper>p {
    font-size: 1.1rem;
    font-weight: 300;
}

#login-wrapper {
    display: flex;
    align-items: center;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.active>a {
    font-weight: 400;
    border-bottom: 1px solid var(--details-color);
    cursor: default;
    pointer-events: none;
}

.nav_bar-elements.inactive:hover {
    border-bottom: 1px solid var(--details-color);
}

.social-media {
    display: inline-block;
}

.social-media a {
    height: 40px;
    margin: 1vh 1vw;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
}

#facebook {
    background-image: url('../../images/headerAndFooter/facebook.svg');
}


/*Added the before block to load the hover image to prevent blinking the fist time the user hovers on the icon*/

#facebook:before {
    content: url('../../images/headerAndFooter/facebook-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

#facebook:hover {
    background-image: url('../../images/headerAndFooter/facebook-hover.svg');
}

#linkedin {
    background-image: url('../../images/headerAndFooter/linkedin.svg');
}

#linkedin:before {
    content: url('../../images/headerAndFooter/linkedin-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

#linkedin:hover {
    background-image: url('../../images/headerAndFooter/linkedin-hover.svg');
}

#github {
    background-image: url('../../images/headerAndFooter/github.svg');
}

#github:before {
    content: url('../../images/headerAndFooter/github-hover.svg');
    width: 0;
    height: 0;
    visibility: hidden;
}

#github:hover {
    background-image: url('../../images/headerAndFooter/github-hover.svg');
}

#footer-copyright {
    display: inline-block;
    font-weight: 300;
    font-size: 0.9rem;
    color: rgb(110 102 102);
    margin: 0;
    bottom: 0%;
    color: var(--details-color);
    font-family: 'Roboto', sans-serif;
}


/* 6.JS styles */

.js-header-expanded {
    height: 100vh;
    grid-template-areas: "burger-wrapper logo search-login" "header-second-row header-second-row header-second-row";
}

.js-header-second-row {
    height: 90vh;
    grid-area: header-second-row;
}

.search.js-expanded {
    width: 100%;
    background: rgb(35, 35, 35);
    height: 40px;
    overflow: hidden;
}

.js-burger-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}


/* This is added to the body when the user expands the burger menu, this css combined with JS disables the scroll on the page */

.js-stop-scrolling {
    height: 100%;
    overflow: hidden;
}


/* 7.Media queries */

@media screen and (max-width: 1000px) {
    .nav_bar-elements {
        margin: 0;
    }
    header {
        height: 10vh;
        min-height: 50px;
        width: 100%;
        justify-content: space-between;
        grid-template-areas: "burger-wrapper logo search-login";
        grid-template-rows: 1fr 0fr;
    }
    .burger-wrapper {
        display: initial;
    }
    #burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header>nav,
    .search,
    #login-wrapper>p {
        display: none;
    }
    .search {
        margin-top: 20px;
    }
    #logo-wrapper {
        grid-area: logo;
        text-align: center;
        display: flex;
    }
    #section2-content {
        width: 100%;
    }
    #footer-copyright {
        font-size: 0.7rem;
    }
}

#header-second-row>nav>ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 40px;
    align-items: flex-start;
}

@media screen and (max-width: 415px) {
    #section3-content {
        height: 70vh;
    }
}

@media screen and (max-width: 340px) {
    #section3-content {
        height: 80vh;
    }
}

@media screen and (max-width: 340px) {
    #section3-content {
        height: 80vh;
    }
}

@media screen and (max-width: 281px) {
    #section3-content {
        height: 80vh;
    }
    .nav_bar-elements {
        padding: 0px 5px;
    }
    header>div>button {
        padding: 3px;
    }
}