/*######## Table of contents ##########
#                                    #  
#       1. General selector          #
#       2.Media queries              #
#                                    #
######################################
*/


/* 1. General selector */

.book-cover {
    width: 100%;
    height: 80%;
    text-align: center;
}

@keyframes zoomOut {
    0% {
        transform: scale(0.25);
    }
    100% {
        transform: scale(1);
    }
}

.book-cover img {
    height: 100%;
    border-radius: 10px;
    grid-area: cover;
    max-width: 500px;
    animation: 0.5s ease-out 0s 1 zoomOut;
}

.book-info {
    padding: 0px 30px;
    grid-area: description;
}

.book-information>h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: auto;
    gap: 30px;
}

.buttons-container>div>button {
    background-color: #0707077c;
    cursor: pointer;
    font-size: 1rem;
    border: var(--details-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1vh 30px;
    width: 170px;
}

.buttons-container>div>button:hover {
    border: solid 1px lightslategray;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    color: white;
    border-radius: 5px;
}

.buttons-container>div>a:hover {
    color: white;
}

.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-information>p {
    font-size: 1.5rem;
}

.bookDetails-responseMessage {
    color: var(--details-color);
    padding: 5px;
    height: 20px;
    margin: 5px;
}


/* 6.Media queries  */

@media screen and (max-width: 1000px) {
    .book-cover img {
        padding: 20px;
        border-radius: 30px;
        max-height: 500px;
    }
    .book-information {
        padding-top: 30px;
    }
    .book-information p {
        font-size: 1.2rem;
    }
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 50px;
        margin: auto;
        gap: 10px;
    }
    .buttons-container a {
        font-size: 1rem;
        padding: 5px;
    }
}

@media screen and (max-width: 300px) {
    .book-cover>img {
        max-width: 270px;
    }
}