@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');
:root {
    --details-color: #5480f1;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    margin: 0;
    background-image: url(../images/about/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}

h1 {
    font-weight: 500;
    font-size: 2.625rem;
    display: inline-block;
    border-bottom: 2px solid var(--details-color);
    margin-top: 4%;
    margin-bottom: 1%;
    z-index: 1;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--details-color);
    padding: 2%;
}

a,
.breadcrumb li p {
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5%;
}

a:hover {
    cursor: pointer;
}

p {
    font-size: 0.9rem;
}

.title {
    text-align: center;
    margin-top: 14vh;
}

.tint {
    background-color: rgba(34, 33, 29, 0.75);
}

#top-wrapper {
    height: 24vh;
}

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.breadcrumb {
    margin-left: 2%;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    padding-left: 0;
}

.breadcrumb li a:hover {
    color: var(--details-color);
}

.breadcrumb-separator {
    pointer-events: none;
}

section div {
    padding: 2%;
    background-color: rgb(12, 12, 10, 80%);
    border: solid 3px var(--details-color);
    border-radius: 20px;
    max-width: 80%;
    margin: 2% auto;
    text-align: center;
}

section div p {
    font-weight: 300;
    font-size: 1.5rem;
    margin: auto;
    padding: 1.5% 2%;
}


/* Start of media queries */