/*######## Table of contents ##########
#                                    #
#       1. Fonts import              #
#       2. Root                      #
#       3. HTML tags selectors       #
#       4. General selector          #
#       5. Specific selectors        #   
#       6.Media queries              #
#                                    #
######################################
*/


/*  1. Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

/*  2. Root  */

 :root {
    --details-color: #5480f1;
}


/* 3. HTML tags selectors */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 86vh;
    height: 100%;
    background-color: #141414
}

h1 {
    font-weight: 500;
    font-size: 2.625rem;
    display: inline-block;
    border-bottom: 2px solid var(--details-color);
    margin-bottom: 1%;
}

h2,
p {
    font-weight: 300;
    font-size: 1.5rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

a,
.breadcrumb li p {
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5%;
    margin: 0% 2%;
}

a:hover {
    cursor: pointer;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: "description cover" "tags buttons";
    padding: 30px;
}

.book-information p {
    font-size: 1.5rem;
    margin-top: 30px;
}

.label {
    font-weight: 300;
    font-size: 1rem;
    text-decoration: underline;
}

.tags {}

.tag {
    font-weight: 300;
    font-size: 1rem;
}

.tag:hover {
    text-decoration: underline;
}


/* 4. General selector */

.title {
    text-align: center;
    padding-top: 14vh;
    margin-bottom: 2vh;
}


/* 5. Specific selectors */

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.breadcrumb {
    margin-left: 30px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    padding-left: 0;
}

.breadcrumb li a:hover {
    color: var(--details-color);
}

.breadcrumb-separator {
    pointer-events: none;
}

.book-cover {
    width: 100%;
    height: 100%;
    text-align: center;
}

.book-cover img {
    height: 100%;
    border-radius: 10px;
    grid-area: cover
}

.book-info {
    padding: 0px 30px;
    grid-area: description;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: auto;
    gap: 30px;
}

.buttons-container button {
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    border: lightslategray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    color: white;
    height: 100%;
}

.buttons-container button:hover {
    color: var(--details-color);
    border-color: var(--details-color);
    background-color: transparent;
}

.tags {
    grid-area: tags;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}


/* 6.Media queries  */

@media screen and (min-width: 1262px)and (min-width: 1270px) {
    #title-wrapper {
        padding-top: 30px;
        margin-bottom: 30px;
        min-height: 200px;
    }
}