@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');
:root {
    --details-color: #5480f1;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
}

h1 {
    font-weight: 500;
    font-size: 2.625rem;
    margin-top: 15vh;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

a {
    font-weight: 100;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.5%;
}

.title {
    text-align: center;
}

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.breadcrumb {
    margin-left: 2%;
    padding: 0 1%;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li a {
    padding-left: 0;
}

.breadcrumb li a:hover {
    color: var(--details-color);
}

.breadcrumb-separator {
    pointer-events: none;
}

select {
    margin: 2%;
    background-color: transparent;
    border: none;
    font-size: 1.125rem;
    display: inline-block;
    margin-right: 0%;
    padding: 0 1%;
}

select:hover {
    border-bottom: solid 1px var(--details-color);
}

option {
    background-color: rgb(34, 34, 34);
}

section {
    height: 80%;
    width: 80%;
    background-color: slategrey;
    margin: auto;
    margin-bottom: 5%;
    display: flex;
}

.row {}