@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');
:root {
    --details-color: #5480f1;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5%;
}

h1 {
    font-weight: 400;
    font-size: 2.625rem;
    margin-top: 0;
}

h2 {
    font-weight: 300;
    font-size: 2.125rem;
}

p {
    font-weight: 100;
    font-size: 1.25rem;
}

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

section {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.tint {
    background-color: rgba(34, 33, 29, 0.75);
}

#section1 {
    background-image: url("../images/index/section1.jpg");
    background-blend-mode: multiply;
    position: relative;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-vertically {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
    text-align: center;
}

#section1>.centered {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
}

#section1-block-column1-text {
    text-align: right;
}

.column {
    width: 50%;
    height: 100%;
}

#section1-block-column1 {
    width: 50%;
}

#section1-block-column2 {
    width: 45%;
}

#column2-image {
    background-image: url("../images/index/section1-column2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    margin-left: 3%;
}

.down-arrow {
    height: 40px;
    width: 40px;
    left: 50%;
    top: 80%;
    position: absolute;
    background-image: url('../images/index/chevron-down.svg');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.down-arrow:hover {
    background-image: url('../images/index/chevron-down-hover.svg');
}

#section2 {
    background-image: url("../images/index/section2.png");
}

#section2-content {
    float: right;
    width: 40%;
    height: 100%;
    border-left-color: var(--details-color);
    border-left-style: solid;
    border-left-width: 0.125rem;
}

.section-button {
    background-color: #0707077c;
    cursor: pointer;
    font-size: 1rem;
    border: lightslategray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1vh 10vw;
}

#section2-button {
    margin-top: 10%;
}

#section3 {
    background-image: url("../images/index/section3.jpg");
    height: 100vh;
    position: relative;
}

#section3-content {
    width: 100%;
    height: 50vh;
    border-top-color: var(--details-color);
    border-top-style: solid;
    border-top-width: 0.125rem;
    position: absolute;
    bottom: 0;
}

#section3-content-text {
    width: 100%;
    text-align: center;
}

#section3-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button:hover,
#section2-button:hover {
    color: var(--details-color);
    border-color: var(--details-color);
    background-color: transparent;
}