@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');
:root {
    --details-color: #25dad3;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    margin: 0;
    width: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

header>div {
    margin-left: 2%;
}

header>div>a {
    font-weight: 500;
}

header>div>a:hover {
    color: var(--details-color);
}

header>button {
    margin-right: 2%;
    color: white;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 12px;
    padding: 0.3% 0.5%;
    border-style: none;
}

header>button:hover {
    background-color: var(--details-color);
    color: white;
    cursor: pointer;
}

nav {
    margin-right: 2%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_bar-elements {
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px;
    /* Added a border to stop moving the links while hover*/
    border-bottom: solid;
    border-bottom-color: transparent;
}

.roboto-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    padding: 0.5%;
}

.nav_bar-elements:hover {
    color: var(--details-color);
    border-bottom: solid;
    border-bottom-color: var(--details-color);
}

section {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

h2 {
    font-weight: 400;
    font-size: 45px;
}

h3 {
    font-weight: 300;
    font-size: 40px;
}

p {
    font-weight: 100;
    font-size: 20px;
}

.tint {
    background-color: rgba(34, 33, 29, 0.75);
}

#section1 {
    background-image: url("../images/index/section1.jpg");
    background-blend-mode: multiply;
    position: relative;
    margin-bottom: -60px;
}

#section1 .centered {
    width: 60vw;
    height: 50vh;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#section1-block-colum1 {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    text-align: right;
}

#section1-block-colum1-text {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
}

#section1-block-colum1-text p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 2%;
}

#section1-block-colum2 {
    float: left;
    width: 50%;
    height: 100%;
    background-attachment: fixed;
    position: relative;
}

#section1-block-colum2-img {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.down-arrow {
    height: 3%;
    width: 2%;
    left: 50%;
    top: 80%;
    position: absolute;
    background-image: url('../images/index/chevron-down.svg');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.down-arrow:hover {
    background-image: url('../images/index/chevron-down-hover.svg');
}

#section2 {
    background-image: url("../images/index/section2.png");
}

#section2-content {
    float: right;
    width: 40%;
    height: 100%;
    border-left-color: var(--details-color);
    border-left-style: solid;
    border-left-width: 5px;
}

.section-button {
    background-color: #0707077c;
    cursor: pointer;
    font-size: 16px;
    border: lightslategray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1vh 10vw;
}

#section2-button {
    margin-top: 10%;
}

#section3 {
    background-image: url("../images/index/section3.jpg");
    height: 100vh;
    position: relative;
}

#section3-content {
    width: 100%;
    height: 50vh;
    border-top-color: var(--details-color);
    border-top-style: solid;
    border-top-width: 5px;
    position: absolute;
    bottom: 0;
}

.section3-position {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section3-content-text {
    width: 100%;
    text-align: center;
}

button:hover,
#section2-button:hover {
    color: var(--details-color);
    border-color: var(--details-color);
    background-color: transparent;
}

footer {
    height: 12vh;
    width: 100%;
    background-color: rgb(34, 33, 33);
    position: absolute;
    display: inline-block;
}

.social-media {
    display: inline-block;
}

.social-media a {
    width: 100%;
    height: 40px;
    margin: 1vh 1vw;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
}

#facebook {
    background-image: url('../images/index/facebook.svg');
}

#facebook:hover {
    background-image: url('../images/index/facebook-hover.svg');
}

#linkedin {
    background-image: url('../images/index/linkedin.svg');
}

#linkedin:hover {
    background-image: url('../images/index/linkedin-hover.svg');
}

#github {
    background-image: url('../images/index/github.svg');
}

#github:hover {
    background-image: url('../images/index/github-hover.svg');
}

#footer-copyright {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    color: rgb(110 102 102);
    margin: 0;
    bottom: 0%;
    color: #6e6666;
    font-family: 'Roboto', sans-serif;
}