/*######## Table of contents ##########
#                                    #
#       1. HTML tags selectors       #
#       4. General selector          #
#       5. Specific selectors        #   
#       6.Media queries              #
#                                    #
######################################
*/


/* 1. Fonts import */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap");

/* 2. Root */

:root {
    --details-color: #5480f1;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#root,
html,
body {
    margin: 0;
    padding: 0;
}


/* 3. HTML tags selectors */

header {
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    height: 8vh;
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 4fr 2.5fr 4fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo navbar search login";
    padding: 2% 2%;
    align-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5%;
    margin: 0;
}


/* 4. Specific selectors */

.burger-wrapper {
    display: none;
    grid-area: burger-wrapper;
}

#burger-menu {
    display: none;
    height: 50px;
    cursor: pointer;
    width: 50px;
}

#burger-menu-icon {
    background-image: url("../../images/headerAndFooter/hamburger-menu.svg");
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

#burger-menu-icon:before {
    background-image: url("../../images/headerAndFooter/hamburger-menu-hover.svg");
    width: 0;
    height: 0;
    visibility: hidden;
}

#burger-menu-icon:hover {
    background-image: url("../../images/headerAndFooter/hamburger-menu-hover.svg");
}

#logo {
    font-weight: 500;
    color: var(--details-color);
    grid-area: logo;
    margin: auto;
}

#logo:hover {
    color: white;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

header>nav {
    grid-area: navbar;
    text-align: center;
}

header>nav>ul {
    display: flex;
    justify-content: center;
}

.nav_bar-elements {
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px;
    /* Added a border to stop moving the links while hover*/
    border-bottom: solid;
    border-bottom-color: transparent;
}

#search-login {
    display: flex;
    grid-area: search-login;
    align-items: center;
    justify-content: flex-end;
}

.search {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.5s;
    box-shadow: var(--details-color);
    justify-self: end;
    grid-area: search;
}

.search-field {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    color: white;
    overflow: hidden;
    display: none;
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    margin-top: 2px;
    /*   Padding used to visually center the magnifying glass */
    padding-bottom: 2px;
}

.search-button-image {
    width: 30px;
    height: 30px;
    background-image: url(../../images/headerAndFooter/search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-right: 10px;
    margin-left: 3px;
}

.search-button-image:focus {
    border: solid 1px white;
}

.search-field input {
    position: relative;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35, 35, 35);
    border-width: 0;
    font-size: 1rem;
    width: initial;
}

.search-field input:focus {
    outline: none;
}

.search-field input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#login-wrapper {
    grid-area: login;
}

#login-wrapper>a {
    height: 32px;
    width: 32px;
    background-image: url(../../images/headerAndFooter/avatar.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#login-wrapper>a:before {
    content: url("../../images/headerAndFooter/avatar-hover.svg");
    width: 0;
    height: 0;
    visibility: hidden;
}

#login-wrapper>a:hover {
    background-image: url(../../images/headerAndFooter/avatar-hover.svg);
}

#login-wrapper>p {
    font-size: 1.1rem;
    font-weight: 300;
}

#login-wrapper {
    display: flex;
    align-items: center;
}

.roboto-white {
    font-family: "Roboto", sans-serif;
    color: white;
}

.active {
    font-weight: 400;
    border-bottom: 1px solid var(--details-color);
    cursor: default;
    pointer-events: none;
}

.nav_bar-elements.inactive:hover {
    border-bottom: 1px solid var(--details-color);
}


/* 6.JS styles */

.js-header-expanded {
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8vh 8vh 84vh;
    grid-template-areas: "burger-wrapper logo login" "search search search" "navbar navbar navbar";
    padding-top: 25px;
}

.search.js-expanded {
    width: 100%;
    background: rgb(35, 35, 35);
    height: 40px;
    overflow: hidden;
    margin-right: 10px;
}

.js-burger-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.js-navbar-burger {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 40px;
    align-items: flex-start;
}


/* This is added to the body when the user expands the burger menu, this css combined with JS disables the scroll on the page */

.js-stop-scrolling {
    height: 100%;
    overflow: hidden;
}


/* 7.Media queries */

@media screen and (max-width: 1000px) {
    .nav_bar-elements {
        margin: 0;
    }
    header {
        height: 10vh;
        min-height: 50px;
        width: 100%;
        justify-content: space-between;
        grid-template-areas: "burger-wrapper logo login";
        grid-template-rows: 1fr 0fr;
    }
    .burger-wrapper {
        display: initial;
    }
    #burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header>nav,
    .search,
    #login-wrapper>p {
        display: none;
    }
    header>nav {
        align-self: baseline;
    }
    .search {
        margin-top: 20px;
    }
    #logo-wrapper {
        grid-area: logo;
        text-align: center;
        display: flex;
    }
    #section2-content {
        width: 100%;
    }
    #login-wrapper {
        margin-right: 5px;
        justify-self: right;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 40px;
        align-items: flex-start;
    }
    .search.js-expanded {
        width: 98%;
    }
}

@media screen and (max-width: 281px) {
    .nav_bar-elements {
        padding: 0px 5px;
    }
    header>div>button {
        padding: 3px;
    }
}